<p>profile-address works!</p>

<form [formGroup]="addressFormGroup">
  <!-- <input
      label="Address 1"
      i18n-label
      placeholder="Enter an address"
      i18n-placeholder
      formControlName="address1"
      maxlength="150"
      [required]="addressRequired"
      (blur)="setTouched()">
    <input
      label="Address 2"
      i18n-label
      placeholder="Enter an address"
      i18n-placeholder
      formControlName="address2"
      maxlength="150"
      (blur)="setTouched()">
    <input
      label="Address 3"
      i18n-label
      placeholder="Enter an address"
      i18n-placeholder
      formControlName="address3"
      maxlength="150"
      (blur)="setTouched()">
    <input
      label="zipCodeLabel || 'Zip Code'"
      placeholder="Enter a zip code"
      i18n-placeholder
      formControlName="postalCode"
      [required]="postalCodeRequired"
      (blur)="setTouched()"> -->
</form>
